{% extends 'base.html.twig' %}

{% block title %}Edit Mongo Entity{% endblock %}

{% block body %}
    <h1>Edit Mongo Entity</h1>

    {{ include('main/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
